<a href="https://colab.research.google.com/github/KamruzzamanSelim/python-fun/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#add two numbers
def add(a,b):
    return print('Sum is:',a+b)

In [ ]:
sum(1,2)

Sum is: 3

In [ ]:
a = [1,2,3,4,5,6]

In [ ]:
type(a)

list

In [ ]:

#sum of list
def add(x):
    sum = 0
    i =0
    while i<len(x):
       sum += x[i]
       i = i+1
    return sum

In [ ]:
add(a)

21

In [ ]:
#mean
def mean(x):
    sum = 0
    i = 0
    m = 0
    while i<len(x):
        sum = sum + x[i]
        i = i + 1
    m = sum/len(x)
    return m

In [ ]:
mean (a)

3.5

In [ ]:
len(a)

6

In [ ]:
from datetime import date
print("Today's date is: "+str(date.today()))

Today's date is: 2024-12-21

In [ ]:
parsec = int(input())
print(str(parsec)+" parsec is "+ str(parsec*3.26)+" lightyears")

12
12 parsec is 39.12 lightyears

In [ ]:
import pandas as pd
df = [['a',1],['b',2]]
df = pd.DataFrame(df, columns = ['X','Y'])

In [ ]:
list(df.shape)

[2, 2]

In [ ]:
players_data = {
    "player_id": [846, 749, 155, 583, 388, 883, 355, 247, 761, 642],
    "name": ["Mason", "Riley", "Bob", "Isabella", "Zachary", "Ava", "Violet", "Thomas", "Jack", "Charlie"],
    "age": [21, 30, 28, 32, 24, 23, 18, 27, 33, 36],
    "position": ["Forward", "Winger", "Striker", "Goalkeeper", "Midfielder", "Defender", "Striker", "Striker", "Midfielder", "Center-back"],
    "team": ["RealMadrid", "Barcelona", "ManchesterUnited", "Liverpool", "BayernMunich", "Chelsea", "Juventus", "ParisSaint-Germain", "ManchesterCity", "Arsenal"]
}

In [ ]:
x = 30123
temp = x
reverse = 0
while (temp != 0):
    reverse = (reverse * 10) + (temp % 10);
    print(reverse)
    temp = temp // 10

In [1]:

#Check if a number is Palindrome number
def isPalindrome(x):
  if x>0:
      temp = x
      reverse = 0
      while (temp != 0):
          reverse = (reverse * 10) + (temp % 10);
          temp = temp // 10
      return (reverse == x)
  elif x==0:
      return True
  else:
      return False

isPalindrome(0)

True

In [ ]:
reverse

32103